extends layout

block content
  h1= title

  div
    each genre in genre_list
      div.card.bg-dark
            div.card-body
              a(href=genre.url)
                h5.m-0 #{genre.name}

    else
      li There are no genres.