doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="icon" href="/images/book.svg")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css", integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js", integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container-fluid')
      nav(class = "navbar navbar-expand-lg navbar-dark bg-dark")
        a(class="navbar-brand" href="/catalog") Express Library
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarSupportedContent")
          ul(class="navbar-nav mr-auto")
            li.nav-item
              a.nav-link(href='/catalog') Home
            li.nav-item
              a.nav-link(href='/catalog/books') Books
            li.nav-item
              a.nav-link(href='/catalog/authors') Authors
            li.nav-item
              a.nav-link(href='/catalog/genres') Genres
            li.nav-item
              a.nav-link(href='/catalog/bookinstances') Book Instances
            li.nav-item.dropdown
              a( id = "navbarDarkDropdown" class = "nav-link dropdown-toggle" href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Dropdown
              ul( class = "dropdown-menu dropdown-menu-dark bg-dark" aria-labelledby='navbarDarkDropdown')
                li
                  a.dropdown-item(href='/catalog/book/create') Create Book
                li
                  .dropdown-divider
                li
                  a.dropdown-item(href='/catalog/author/create') Create Author
                li
                  .dropdown-divider
                li
                  a.dropdown-item(href='/catalog/genre/create') Create Genre
                li
                  .dropdown-divider
                li
                  a.dropdown-item(href='/catalog/bookinstance/create') Create Book Instance

          
          
      //- div(class='sidebar')
      //-   block sidebar
      //-     ul(class='sidebar-nav')
      //-       li
      //-         a(href='/catalog') Home
      //-       li
      //-         a(href='/catalog/books') All books
      //-       li
      //-         a(href='/catalog/authors') All authors
      //-       li
      //-         a(href='/catalog/genres') All genres
      //-       li
      //-         a(href='/catalog/bookinstances') All book-instances
      //-       li
      //-         hr
      //-       li
      //-         a(href='/catalog/author/create') Create new author
      //-       li
      //-         a(href='/catalog/genre/create') Create new genre
      //-       li
      //-         a(href='/catalog/book/create') Create new book
      //-       li
      //-         a(href='/catalog/bookinstance/create') Create new book instance (copy)
      div(class='main')
        block content

