html, body{
  margin: 0px;
  background-color: rgb(40,40,40);
  color: white;
}

body {
  padding: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

nav{
  margin-bottom: 20px;
}

nav a{
  color: white !important;
}

a {
  color: rgb(83, 174, 235) !important;
}

.card{
  margin-bottom: 5px;
}

.card-body{
  padding: 10px;
  padding-left: 20px;
}

.sidebar{
  width: 200px;
  font-size: 1.2rem;
}

.dropdown-menu-dark {
  color: inherit;
  background-color: #343a40;
  border-color: rgba(0, 0, 0, 0.15);
}

.dropdown-menu-dark .dropdown-item {
  color: rgba(255,255,255,.5);
}

.dropdown-menu-dark .dropdown-item:hover, .dropdown-menu-dark .dropdown-item:focus {
  color: rgba(255,255,255,.75);
  background-color: inherit;
}
.dropdown-menu-dark .dropdown-divider {
  border-color: rgba(0, 0, 0, 0.15);
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.main{
  flex-grow: 1;
}

form{
  max-width: 500px;
}

.sidebar-nav li{
  margin-top: 5px;
}

.genreLabel{
  margin-left: 5px;
}

a, a:hover, a:visited{
  color: blue;
  text-decoration: inherit;
}


@media screen and (max-width:  600px) {
  .row{
    flex-direction: column;
  }

  .sidebar{
    font-size: 20px;
  }
}